/* Html */

html {
  scroll-behavior: smooth;
  font-size: 16px;
}
@media screen and (max-width: 800px)
{
  html
  {
    /* Itself */
    font-size: 13px;
  }
}
@media screen and (max-width: 500px)
{
  html
  {
    /* Itself */
    font-size: 11px;
  }
}
@media screen and (max-width: 350px)
{
  html
  {
    /* Itself */
    font-size: 10px;
  }
}


/* Body */

body
{
  /* Container */
  margin: auto;
  background-color: black;
  /* Containee */
  display: flex;
  flex-direction: column;
  /* Itself */
  max-width: 60em;
}
@media screen and (max-width: 500px)
{
  body
  {
    /* Itself */
    width: 100%;
  }
}


*
{
  font-family: "Computer Modern", sans-serif;
  text-align: justify;
  color: #E0E0E0;
}

a
{
  color: grey;
  text-decoration: none;
}



/* Header */

header
{
  /* Container */
  margin: .3em;
  margin-top: .6em;
  /* Containee */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* Itself */
  background-color: #1F1F1F;
  border: .4em #1F1F1F solid;
  border-radius: .7em;
  height: 11em;
  padding: .5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
}
@media screen and (max-width: 500px)
{
  header
  {
    /* Itself */
    height: 6em;
    padding: .3em;
    padding-left: 1em;
    padding-right: 1em;
  }
}

header:hover
{
  /* Itself */
  border-left-color: #3F3F3F;
  border-right-color: #3F3F3F;
}

header a
{
  /* Itself */
  color: #E0E0E0;
  text-decoration: none;
}

header a:hover
{
  /* Itself */
  color: grey;
}

#header-left
{
  /* Container */
  flex: 1;
  min-width: 10em;
  /* Containee */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
@media screen and (max-width: 500px)
{
  #header-left
  {
    /* Itself */
    min-width: 5em;
  }
}

#header-left img
{
  /* Itself */
  height: 10em;
  border: .4em grey solid;
  border-radius: 50%;
}
@media screen and (max-width: 500px)
{
  #header-left img
  {
    /* Itself */
    border: .3em grey solid;
    height: 5em;
  }
}

#header-middle
{
  /* Container */
  flex: 3;
  /* Containee */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* Itself */
  padding-top: .3em;
  padding-bottom: .3em;
}
@media screen and (max-width: 500px)
{
  #header-middle
  {
    /* Container */
    flex: none;
    width: 20em;
  }
}

#header-middle #title-div
{
  /* Container */
  flex: 2;
  /* Containee */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#header-middle h1
{
  /* Container */
  margin: 0;
  /* Itself */
  padding: 0;
  font-size: 3.3em;
}
@media screen and (max-width: 500px)
{
  #header-middle h1
  {
      /* Itself */
      font-size: 2.15em;
  }
}

#header-middle #subtitle-div
{
  /* Container */
  flex: 2;
  /* Containee */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#header-middle h2
{
  /* Container */
  margin: 0;
  /* Itself */
  font-size: 1.45em;
}
@media screen and (max-width: 500px)
{
  #header-middle h2
  {
      /* Itself */
      font-size: .95em;
  }
}

#header-middle nav
{
  /* Container */
  flex: 3;
  /* Containee */
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

#header-right
{
  /* Container */
  flex: 1;
  /* Containee */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
}

#language-picker
{
  /* Container */
  margin-top: .5em;
  /* Itself */
  background-color: #1F1F1F;
  border: none;
}
@media screen and (max-width: 500px)
{
  #header-middle h2
  {
      /* Itself */
      font-size: .95em;
  }
}


/* Navigation bar */

nav ul
{
  /* Container */
  flex: 1;
  /* Containee */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  /* Itself */
  list-style-type: none;
  padding: 0;
  padding-left: 3.5em;
  padding-right: 3.5em;
}
@media screen and (max-width: 500px)
{
  nav ul
  {
    /* Itself */
    padding-left: 1.45em;
    padding-right: 1.45em;
  }
}


nav ul li a
{
  /* Itself */
  font-size: 1em;
  font-weight: bold;
}
@media screen and (max-width: 500px)
{
  nav ul li a
  {
    /* Itself */
    font-size: .8em;
  }
}




/* Section */

section
{
  /* Container */
  margin: .3em;
  /* Itself */
  border: .4em #1F1F1F solid;
  border-radius: .7em;
  padding: 0;
}

section:hover
{
  /* Itself */
  border-left-color: #3F3F3F;
  border-right-color: #3F3F3F;
}

section .title-div {
  /* Container */
  margin: -.1em;
  margin-bottom: 0;
  /* Itself */
  background-color: #1F1F1F;
  padding: .5em;
  padding-left: 1.6em;
  padding-right: 1.6em;
}

section h2 {
  /* Container */
  margin: 0;
  /* Itself */
  font-size: 1.5em;
}

section .text-div {
  /* Container */
  margin: 0;
  margin-bottom: 1em;
  /* Containee */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* Itself */
  padding-left: 1.5em;
  padding-right: 1.5em;
}

section .sub-div
{
  /* Container */
  margin: 0;
  margin-top: 1em;
}

section h3 {
  /* Container */
  margin: 0;
  /* Itself */
  font-size: 1em;
  font-weight: bold;
}

section p, ul {
  /* Container */
  margin: 0;
  margin-top: .5em;
  /* Itself */
  font-size: 1em;
}

section ul {
  /* Itself */
  padding-left: 1.5em;
}

section ul li {
  /* Itself */
  padding-top: .5em;
}

section ul li:first-child {
  /* Itself */
  padding-top: 0;
}

section .compact-list li {
  /* Itself */
  padding-top: 0;
}


/* Footer */

footer
{
  /* Container */
  margin: 0;
  /* Containee */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* Itself */
  padding: 0;
}
